<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" href="#">Pierre's Sweet and Savory Treats</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/treats">Treats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/flavors">Flavors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account">Account</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/" method="post">
      <select name="searchOption" id="searchOption" class="form-control mr-sm-2">
        <option value="treats">Search Treats</option>
        <option value="flavors">Search Flavors</option>
      </select>
      <input class="form-control mr-sm-2" name="searchString" id="searchString" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>