@using PierresTreats.Models;
@model PierresTreats.Models.Flavor;

@if (Model.Treats.Count == 0)
{
  <p>There are no treats for this flavor.</p>
}
@foreach (var join in Model.Treats)
{
  <div class="card mb-3">
    <div class="card-body list">
      <div class="list-text mt-1">
        <i class="fas fa-birthday-cake mr-1"></i>
        @Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new { id = join.Treat.TreatId })
      </div>
      @if (User.Identity.IsAuthenticated)
      {
        <div class="list-button">
          @using (Html.BeginForm("RemoveTreat", "Flavors", new {TreatId = join.Treat.TreatId, FlavorId = join.Flavor.FlavorId }))
          {
            <button type="submit" class="btn btn-danger mr-3"><i class="fas fa-times"></i></button>
          }
        </div>
      }
    </div>
  </div>
}