@{
    Layout = "_Layout";
}

@using System.Security.Claims

<section class="card mb-3">
    <div class="card-header">
        <div class="cardListName">Account Management</div>
    </div>
    <div class="card-body">
        @if (User.Identity.IsAuthenticated)
        {
            <p>Current User: @User.Identity.Name</p>
            @using (Html.BeginForm("LogOff", "Account"))
            {
                <button type="submit" class="btn btn-primary">Log Out</button>
            }
        }
        else
        {
            <p>Log in or create a new account:</p>
            @using (Html.BeginForm("Login", "Account", FormMethod.Get))
            {
                <button type="submit" class="btn btn-success mb-3">Log In</button>
            }
            @using (Html.BeginForm("Register", "Account", FormMethod.Get))
            {
                <button type="submit" class="btn btn-primary">Register</button>
            }
        }
    </div>
</section>  