@{
    Layout = "_Layout";
}

@using System.Security.Claims

<section class="card mb-3">
    <div class="card-header">
        <div class="cardListName">Account Management</div>
    </div>
    <div class="card-body">
        @if (User.Identity.IsAuthenticated)
        {
            <p>Current User: @User.Identity.Name</p>
            @using (Html.BeginForm("LogOff", "Account"))
            {
                <button type="submit" class="btn btn-primary">Log Out</button>
            }
        }
        else
        {
            <p>Log in or create a new account:</p>
            <form action="/account/login" method="get" class="home-form">
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
            <form action="/account/register" method="get" class="home-form">
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        }
    </div>
</section>  