
@{
  Layout = "_Layout";
}

@using PierresTreats.ViewModels

@model LoginViewModel

<section class="card mb-3">
  <div class="card-header">
    <div class="cardListName">Log in with your account</div>
  </div>
  <div class="card-body">
    <div class="card-text">
      @using (Html.BeginForm())
      {
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })

        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })

        <button type="submit" class="btn btn-primary mt-3">Log In</button>
      }
    </div>
  </div>
</section>